
Projects you're a part of:
<br>
<br>
<table>
  <tr>
    <th> Project Name </th>
    <th> Owner </th>
  </tr>
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= User.find(project.creator_id).name %> </td>
      <td>
        <%= link_to("Edit", {:action => 'edit', :id => project.id}) %>
      </td>
    </tr>
    <% end %>
  </table>
<br>

Projects you've created:
<br>
<br>
  <table>
      <th> Project Name </th>
  <% @own_projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td>
          <%= link_to("Edit", {:action => 'edit', :id => project.id}) %>
        </td>
        <td>
          <%= link_to("Delete", {:action => 'delete', :id => project.id}) %>
        </td>
      </tr>
      <% end %>
    </table>
  </center>
