Project:
<br>
<br>
<table>
  <tr>
    <th> Project Name </th>
    <th> Owner </th>
  </tr>
    <tr>
      <td><%= @project.name %></td>
      <td><%= User.find(@project.creator_id).name %> </td>
      <td>
        <%= link_to("Edit", {:action => 'edit', :id => @project.id}) %>
      </td>
    </tr>
  </table>
<br>

<%= form_for(:project, :url => {:action => 'add_user', :id => @project.id}) do |f| %>

  Add a user to this project?
  <br>
  Enter their email: <%= email_field_tag(:email, "email@example.com") %>
  <br>
  <br>
  <br>

<%= submit_tag("Find this user", class: "btn btn-default") %>
<% end %>
